@import url("https://fonts.googleapis.com/css2?family=Poppins:weight@100;200;300;400;500;600;700;800&display=swap");

.admin-header{
    display: flex;
    width: 50%;
}
.waving{
    text-align: left;
    width: 30px;
    height: 28px;
    margin-top: 17px;
    margin-left: 10px;
}
.userSetting{
    width: 50%;
    display: flex;
    margin-left: 67%;
}
.main-header{
    display: flex;
}
.account-name{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    margin-bottom: 1px;
}
.account-role{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    text-align: left;
    color: #797979
}
.user-image{
    margin-right: 15px;
    margin-top: 2px;
    width: 48px;
    height: 46px
}
.welcome-name{
    text-align: left;    
    margin-bottom: 1px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400 !important;
    font-size: 20px !important;
}
.welcome-text{
    text-align:"left";
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
}
.total-clients{
    display: flex;
    width: 20%; 
    background-color: #ffffff; 
    color: 'black';
    border-radius: 6px;
    border:1px solid #D7D7D7;
    text-align: left;
    padding-top:13px
}
.active-clients{
    display: flex;
    width: 22%;
    background-color: #ffffff;
    color: 'black'; 
    border-radius: 6px; 
    margin-left: 25px; 
    border:1px solid #D7D7D7;
    text-align: left;
    padding-top: 13px;
}
.total-clients-text{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    color: #6C6C6C;
    margin-bottom: 0px
}
.total-clients-no{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 36px;
    color: #000000;
    margin-bottom: 0px
}
.total-clients-image{
    width: 54px;
    height: 54px;
    margin-right: 10px
}
.clients-list{
    display: flex;
}
.clients-list-text{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    margin-bottom: 0px;
}
.client-search-container{
    text-align: left;
    width: 90%;
}
.invoice-search-container{
    text-align: left;
    width: 76%;
}
.client-search-field{
    width: 98%;    
}

.client-search{
    display: flex;
    width: 100%;
}
.ms-n5 {
    margin-left: -40px;
}
.search .fa-search{
    position: absolute;
    top: 20px;
    left: 16px;
}
   .add-new-client{
    background: #051134;
    border-color: #051134;
    color: white;
    border-radius: 6px;
}
.add-previous-invoice{
    background: #051134;
    border-color: #051134;
    color: white;
    border-radius: 6px;
    margin-right: 10px;
}
.add-cloud-invoice{
    background: #051134;
    border-color: #051134;
    color: white;
    border-radius: 6px;
    padding: 8px;
    margin-left: 30px;
}
.add-new-icon{
    height: 23px;
    width: 23px;
    margin-right: 7px;
    margin-bottom: 3px;
}
.css-11xur9t-MuiPaper-root-MuiTableContainer-root{
    width: 97.5% !important;
    margin-left: 13px !important;
}
.row > *{
    padding-left: 0px !important;
    padding-right: 0px !important;
}
.css-11xur9t-MuiPaper-root-MuiTableContainer-root{
    max-height: 325px !important;
}
.item {
    width: 50%;
    text-align: center
  }
.form-container{
    display: flex;
    flex-wrap: wrap;
}
.form-container > div {
    flex: 50%;
  }
  label{
    width: 100%;
    text-align:left;
    padding-left:27px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
  }
  input{
    border: 1px solid #D7D7D7;
    border-radius: 4px;
    padding: 8px
  }
  .add-company-button{
    background: linear-gradient(91.71deg, #6C63FF 5.9%, #F55777 100%) !important;
    border-radius: 6px !important;
    color: #ffffff !important;
  }
  .css-hlj6pa-MuiDialogActions-root{
    padding-right: 270px !important;
  }
  .description-text{
    border: 1px solid #D7D7D7;
    border-radius: 4px;
  }
  #scroll-dialog-title{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    color: #0B67BC;
  }
  .add-item-button{
    width: 79%;
    padding: 6px;
    border-radius: 6px;
    border: 1px solid #ffffff;
    color: #ffffff;
    background: linear-gradient(91.71deg, #6C63FF 5.9%, #F55777 100%) !important;
  }
  .MuiAutocomplete-inputRoot[class*="MuiOutlinedInput-root"] {
    padding: 0px !important;
    border-radius: 6px !important;
}
.MuiInputLabel-formControl {
    top: -10px !important;
}
.user-list-text{
    margin-left: 11px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
}
.clientsListImage{
    height: 31px;
    width: 31px;
}
.offscreen-email {
    position: absolute;
    left: -9999px;
}
.instructions-email{
    font-size: 0.75rem;
    color: red;
    text-align: left;
    margin-top: 5px;
    padding-left: 28px;
    margin-bottom: 0px !important;
}
.designation-input{
    margin-left: 29px;
}
.department-select{
    border: 1px solid #D7D7D7;
    border-radius: 4px;
    padding: 10px;
    margin-top: 16px;
    width: 79%;
}
.employee-select{
    width: 12%;
    margin-left: 20px;
    border: 1px solid #D7D7D7;
    border-radius: 4px;
}
.piechartwrapper{
    width: 35%;
    height: 35%;
    padding-top: 10px;
    padding-bottom: 30px;
    justify-content: center;
    align-items: center;
    background: #FFFFFF;
    border: 1px solid #CECECE;
    border-radius: 10px;
}
.piecharttext{
    width: 61%;
font-family: 'Poppins';
font-style: normal;
font-weight: 500;
font-size: 18px;
margin-bottom: 15px;
}
.linechartwrapper{
    width: 60%;
    height: 60%;
    margin-left: 35px;
    padding-top: 10px;
    padding-bottom: 30px;
    justify-content: center;
    align-items: center;
    background: #FFFFFF;
    border: 1px solid #CECECE;
    border-radius: 10px;
}
.linecharttext{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    margin-bottom: 15px;
}
.pieheadercontainer{
    display: flex;
}
.pielabelcontainer{
    display: flex;
    flex-direction: column;
    width: 39%;
}
.pietechteam:before {
    content: '';
    display: block;
    border: 1px solid #FDB400;
    width: 10px;
    height: 10px;
    margin: 5px auto;
    background-color: #FDB400;
    margin-right: 10px;
    margin-left: 36px;
  }
  .pieoperationteam:before {
    content: '';
    display: block;
    border: 1px solid #F75775;
    width: 10px;
    height: 10px;
    margin: 5px auto;
    background-color: #F75775;
    margin-left: 36px;
    margin-right: 10px;
  }
  .pietechteam{
    display: flex;
  }
  .pieoperationteam{
    display: flex;
  }
  .barcharttextwrapper{
    display: flex;
   width: 100%;
  }
  .barchartwrapper{
    width: 100%;
    height: 100%;
    /* margin-left: 50px; */
    padding-top: 10px;
    padding-bottom: 30px;
    justify-content: center;
    align-items: center;
    background: #FFFFFF;
    border: 1px solid #CECECE;
    border-radius: 10px;
  }
  .barcharttext{
    width: 33.33%;
  }
  .barchartselect{
    background: #051134;
    color: white;
    border: 1px solid #D7D7D7;
    border-radius: 12px;
    padding: 2px;
    margin-top: 0px !important;
  }
  .yearselectoption{
    text-align: right;
    padding-right: 30px;
  }
  #primaryinvoiceupload{
    display: none;
  }
  .css-sghohy-MuiButtonBase-root-MuiButton-roo{
    background-color: #051134 !important;
  }
  .salary-header{
    padding-left: 14px;
  }
  .user-search{
    width: 34%;
  }
.generate-salary-button{
    width: 100%;
    background-color: #6C63FF;
    color: white;
    border: 1px solid #6C63FF;
    border-radius: 10px;
    padding: 8px;
}
.salary-button{
    width: 15%;
    margin-top: -5px;
    margin-left: 15px;
}
.date-container{
    width: 25%;
    margin-top: -11px;
}
.update-salary{
    width: 21%;
    margin-top: -5px;
    margin-left: 15px;
}
.update-salary-button{
    width: 100%;
    background-color: #051134;;
    color: white;
    border: 1px solid #051134;
    border-radius: 10px;
    padding: 8px;
}
.breakdown-container{
    width: 50%;
    padding-left: 20px !important;
}
.reimbursement-details-container{
    width: 48%
}
.breakdown-header{
    text-align: left;
}
.list-header{
    display: flex;
}
.salary-breakdown-container{
    display: flex;
}
.item-left{
    border: 1px solid black;
    padding: 2px;
    width: 45%;
    padding-left: 15px;
    border-radius: 4px;
    text-align: left;
}
.item-right{
    border: 1px solid black;
    padding: 2px;
    width: 45%;
    padding-left: 15px;
    border-radius: 4px;
    text-align: left;
    margin-left: 10px;
}
.basic-da-container{
    background: #D4D1FF;
    color: #4B5279
}
.hra-container{
    background: #E3E1FF;
    color: #4B5279
}
.allowance-container{
    background: #EDBAFF;
    color: #4B5279
}
.pf-container{
    background: rgba(237, 186, 255, 0.58);
    color: #4B5279
}
.profession-tax-container{
    background: #AAF0FF;
    color: #4B5279
}
.earnings-container{
    background: #C8F4FF;
    color: #4B5279
}
.reimbursement-container{
    background: #D6FFA1;
    color: #4B5279
}
.deductions-container{
    background: #E6FFC7;
    color: #4B5279
}
.total-container{
    background: #051134;
    color:#FFFFFF
}
.reimbursement-details-container{
    background: #FFFFFF;
    border: 1px solid #CECECE;
    border-radius: 10px;
    padding-top: 12px;
    padding-bottom: 12px;
}
.reimbursement-header{
    text-align: left;
    padding-left: 13px;
}
.reimbursement-inputs{
    display: flex;
}
.reimbursement-type-input{
    width: 87%;
    padding: 5px;
    border-color: black
}
.reimbursement-amount-input{
    width: 87%;
    padding: 5px;
    border-color: black
}
.reimbursement-type-container{
    width: 50%;
}
.reimbursement-amount-container{
    width: 50%;
}
.reimbursement-label{
    padding-left: 13px;
    color: #9095A5;
}
.upload-container{
    text-align: left;
    padding-left: 20px;
    font-weight: 500;
    font-size: 16px;
    color: #9095A5;
}
.reimbursement-upload-logo{
    text-align: left;
    width: 27px;
    height: 21px;
    margin-right: 8px;
}
.div-border{
    border-bottom: 1px solid #9095A5;
    width: 94%;
    margin-left: 14px;
}
.breakdown-add-button{
    width: 100%;
    background-color: #051134;;
    color: white;
    border: 1px solid #051134;
    border-radius: 10px;
    padding: 8px;
}
.salary-breakdown-button{
    width: 40%;
    padding-left: 13px;
}