.bg {
    height: 100%;
    width: 100%;
}

.loginWrapper {
    background-image:
        url("../assets/loginBackground.png");
    /* background-size: 100% 100%; */
    background-size: cover;
    height: 100vh;
    background-repeat: no-repeat;
    display: flex;
}

.loginForm {
    width: 60%;
    display: flex;
}

.loginGraph {
    width: 40%;
    text-align: center;
}

.loginGraph img{
    height: 60%;
    width: 100%;
    margin-top: 14%;
    display: inline-block;
}
.loginHeader {
    text-align: left;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500 !important;
    font-size: 40px;
}
.loginHeader span{
    font-weight: 600 !important;
}

.loginForgotPass {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    color: #051134;
    text-align: center;
    width: 84%;
}

section {
    width: 70%;
    min-height: 400px;
    margin-left: 20%;
    margin-top: 12%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.LoginInput {
    margin-top: 8px;
    text-align: left;
    width: 78%;
    background: #FFFFFF;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.07);
    border-radius: 10px;
    padding: 10px;
    border: #FFFFFF
}

.loginLabel {
    margin-top: 23px;
    text-align: left;
    font-family: 'Poppins';
    padding-left: 0;
    font-weight: 500;
    font-size: 20px
}

.submitButton {
    margin-top: 35px;
    width: 79%;
    background: #051134;
    border-radius: 10px;
    color: white;
    padding: 10px;
    cursor: pointer;
}
.errmsg {
    background-color: lightpink;
    color: firebrick;
    font-weight: bold;
    padding: 0.5rem;
    margin-bottom: 0.5rem;
    width: 78%;
    border-radius: 10px;
}
.offscreen {
    position: absolute;
    left: -9999px;
}
.login-instructions{
    font-size: 0.8rem;
    border-radius: 7px;
    background: rgb(49, 48, 48);
    color: #fff;
    padding: 0.25rem;
    position: relative;
    bottom: -10px;
    width: 78% !important;
}
.successIcon{
    width: 121%;
    /* text-align: center; */
    margin-top: 11px;
    color: green;
}